@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: black;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  background-image: url('bg.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
}

.text-beetroot {
  color: #c67d98;
}

.bg-beetroot {
  background-color: #c67d98;
}

.border-beetroot {
    border-color: #c67d98;
}